@import url('./variables.scss');
@import url('./colors.scss');
@import url('./keyframes.scss');
@import url('./functions.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    text-decoration: none;
}

ol,
li {
    list-style: none;
}

h1 {
    font-size: var(--font-h1);
    // margin-bottom: var(--spacing-heading-margin);
    line-height: 1.2;
}

h2 {
    font-size: var(--font-h2);
    margin-bottom: var(--spacing-heading-margin);
}

p {
    font-size: var(--font-p);
    margin-bottom: var(--spacing-paragraph-margin);
    line-height: var(--line-height-base);
}

span {
    font-size: var(--font-span);
}

small {
    font-size: var(--font-small);
}

ul,
ol {
    font-size: var(--font-list);
    line-height: var(--line-height-list);
    margin-bottom: var(--spacing-list-margin);

    li {
        margin-bottom: 0.5rem;
    }
}

button {
    min-width: max-content;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: var(--color-btn-primary-bg);
    color: var(--color-btn-primary-text);
    font-size: var(--font-p);

    &:hover {
        background-color: var(--color-btn-primary-hover-bg);
    }

    &:active {
        background-color: var(--color-btn-primary-active-bg);
    }
}

html,
body,
#root {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    $background: url('../assets/website-cover.jpg');

    background-color: var(--color-bg-body);
    background-image: $background;
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-text-primary);
    font-family: "Inter", sans-serif;
}

.content_view{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: auto;
    padding: 10px 20px;
}