.plan-counter {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    // ─────────────────────────────
    // Add Plan Section
    // ─────────────────────────────
    &__add-plan {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;

        .active_plan {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        span {
            font-style: italic;
            font-size: 0.6rem;
            color: var(--color-text-secondary);
        }

        button {
            background-color: var(--tt-color-highlight-blue-contrast);
            transition: all 200ms linear;
            display: flex;
            gap: 5px;
            align-items: center;

            // &:hover {
            //   background-color: var(--tt-color-green-700);
            // }

            &.disabled {
                background-color: var(--tt-gray-dark-a-300);
                color: var(--color-text-secondary);
                cursor: not-allowed;
            }
        }
    }

    // ─────────────────────────────
    // Timer Block
    // ─────────────────────────────
    &__time {
        background-color: var(--tt-color-text-blue-contrast);
        border-radius: 3px;
        margin: 20px 0;
        padding-top: 10px;
        animation: fade-in 0.3s ease-out forwards;

        >p {
            margin: 0;
            padding: 0;
            text-align: center;

            &:first-child {
                font-style: italic;
            }
        }

        .title {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            .logo {
                width: 50px;
                height: 50px;
                font-size: 30px;
                color: var(--color-text-primary);
                background-color: var(--color-surface-700);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }
        }
    }

    .time_end {
        margin: 5px 0 20px 0;
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        animation: fade-in 0.3s ease-out forwards;

        .countdown__item {
            flex: 1;
            padding: 5px;
            border-radius: 3px;
            background-color: var(--color-surface-300);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;

            label {
                font-size: 0.8rem;
            }

            p {
                font-size: 1.5rem;
                animation: fade-in 0.3s ease-out forwards;
            }
        }
    }

    // ─────────────────────────────
    // Animated Section (Open/Close)
    // ─────────────────────────────

    .title_plan {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: var(--tt-color-text-gray-contrast);
        margin-bottom: 10px;

        .plan_logo {
            width: 50px;
            height: 50px;
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            background-color: var(--color-surface-300);
        }

        h1 {
            font-size: 1.4rem;
            text-align: center;
        }
    }

    // ─────────────────────────────
    // Animated Section (Open/Close)
    // ─────────────────────────────
    .plan-counter__time {
        overflow: hidden;
        max-height: max-content;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        padding: 0;
    }

    // ─────────────────────────────
    // Plan container
    // ─────────────────────────────
    .hola {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }

    // ─────────────────────────────
    // Plan Cards
    // ─────────────────────────────
    .card_detail__plan {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        overflow: hidden;
        max-height: 1000px;
        transition: max-height 0.3s ease, opacity 0.3s ease;

        .plan_details {
            position: relative;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 0px;
            justify-content: center;
            align-items: center;
            background-color: var(--tt-color-text-blue-contrast);
            min-width: 150px;
            border-radius: 10px;
            color: white;
            user-select: none;
            cursor: pointer;

            &:hover {
                border: 1px solid var(--tt-color-green-600);
            }

            .buy {
                margin: 0;
                padding: 2px 7px;
                border-radius: 10px;
                font-size: 0.8rem;
                background-color: var(--tt-color-green-600);
                color: white;
            }

            &.popular {
                border: 1px solid var(--tt-color-yellow-500);
                background-color: var(--tt-color-highlight-yellow-contrast);

                label {
                    color: white;
                }

                .buy {
                    background-color: var(--tt-color-yellow-500) !important;
                }

                p.isPopular {
                    font-size: 0.7rem;
                    color: var(--tt-color-yellow-600);
                }
            }

            label {
                color: var(--color-text-primary);
                font-size: 0.9rem;
                font-weight: 700;
            }

            p.price {
                font-size: 1.2rem;
                font-weight: 100;
                color: white;
            }

            p.isPopular {
                font-size: 0.6rem;
                color: var(--tt-color-green-600);
                margin: 0;
            }

            p.save {
                font-size: 0.6rem !important;
                font-style: italic;
                margin: 5px 0 0 0;
                padding: 0;

                span {
                    display: none;
                }
            }
        }
    }

    // ─────────────────────────────
    // List of Plan Benefits
    // ─────────────────────────────
    .listPlans {
        width: 100%;
        min-width: 280px;
        max-width: 800px;
        padding: 20px 10px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 0.3rem;
        justify-content: center;
        text-align: start;
        user-select: none;

        p {
            margin: 0;
            padding: 2px 5px;
            display: flex;
            gap: 0.2rem;
            justify-content: flex-start;
            align-items: flex-start;
            min-width: max-content;
            font-weight: 300;
            font-size: 0.7rem;

            span {
                color: var(--tt-color-green-500);
            }
        }
    }
}